@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  background-color: #f5f5f5 !important;
  line-height: 1.7 !important;
  letter-spacing: 1.3px !important;
}

#jd-navbar {
  position: absolute;
  width: 100%;
  top: 0;
  background: transparent;
  z-index: 999;
}

#jd-navbar.fixed {
  position: fixed !important;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
  top: -80px;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#jd-navbar.fixed .logo, #jd-navbar.fixed .nav-link, #jd-navbar.fixed .navbar-toggler-icon i {
  color: #000;
}

#jd-navbar.fixed .nav-link:hover {
  color: #f2762e;
}

#jd-navbar.fixed .nav-link.active {
  color: #000;
}

#jd-navbar.fixed .nav-link.active:hover {
  color: #f2762e;
}

#jd-navbar .navbar-toggler-icon {
  padding: 4px;
}

#jd-navbar .navbar-toggler-icon i {
  color: #fff !important;
}

#jd-navbar .logo {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

#jd-navbar .nav-link {
  color: #f2762e;
}

#jd-navbar .nav-link.active {
  color: #fff;
}

#jd-navbar .nav-link:hover {
  color: #fff;
}

.bg-orange {
  background-color: #f2762e;
  color: white;
}

.orange {
  color: #f2762e;
}

#banner {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 150px 0;
  background-color: #000;
}

#banner .jd-profile-pic {
  position: relative;
  margin-bottom: 30px;
  max-width: 95%;
}

#banner .jd-profile-pic::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 5px;
  height: 100%;
  width: 98%;
  border: 3px solid #f2762e;
  border-radius: 15px;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

#banner .jd-profile-pic::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 3px;
  height: 100%;
  width: 98%;
  border: 3px solid #f2762e;
  border-radius: 15px;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

#banner .jd-profile-pic img {
  position: relative;
  max-width: 100%;
}

.about-box {
  position: relative;
}

.about-box .abs {
  position: absolute;
}

.about-box .img-fluid {
  position: relative;
  border-radius: 20px;
}

.section-header {
  text-align: center;
}

.section-header .section-head {
  font-weight: bold;
}

.section-header .section-head-sub {
  display: inline-block;
  padding: 5px 15px;
  border: 5px solid #fce4d6;
}

.spec-card img {
  width: 150px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.skill {
  margin-bottom: 20px;
}

.experience-container .experience-box {
  padding: 15px;
  margin-bottom: 15px;
  background: #fff;
  border-bottom: 7px solid #f2762e;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
}

.experience-container .experience-box .exp-year {
  display: inline-block;
  background-color: #f2762e;
  color: #fff;
  padding: 5px 15px;
  margin: 15px auto;
}

.education-container .education-box {
  padding: 15px;
  margin-bottom: 15px;
  background: #fff;
  border-bottom: 7px solid #f2762e;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
}

.education-container .education-box .esp-year {
  display: inline-block;
  background-color: #f2762e;
  color: #fff;
  padding: 5px 15px;
  margin: 15px auto;
}

#portfolio {
  min-height: 1000px;
}

.portfolio-filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-filters ul li {
  padding: 5px;
  margin: 0 15px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.portfolio-filters ul li.active {
  border-bottom: 3px solid #f2762e;
}

.portfolio-img {
  width: 100%;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 30px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.all {
  background-color: #000;
  color: #f5f5f5;
}

.cls {
  background-color: #000;
  color: #f2762e;
  border: 2px solid #f2762e;
}

.contact-info .contact-info-left {
  text-align: left;
}

.contact-info .contact-info-right {
  text-align: right;
}

.contact-info i {
  width: 50px;
  padding-left: 5px;
  text-align: center;
}

.social-links a {
  padding: 5px 15px;
  display: inline-block;
}

.social-links a img {
  width: 30px;
}
/*# sourceMappingURL=main.css.map */